@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #828282;
  --color-gainsboro-100: #e6e6e6;

  /* Gaps */
  --gap-5xs: 8px;

  /* Paddings */
  --padding-base: 16px;

  /* Border radiuses */
  --br-5xs: 8px;
}
